services:
  api:
    build: .
    ports:
      - "8000:8000"
    environment:
      - PYTHONUNBUFFERED=1 
    volumes:
      - ./data:/app/data
    shm_size: '2gb'
    
    # This is to prevent the docker container
    # from crashing the host machine
    deploy:
      resources:
        limits:
          memory: 4G